.banner
{
    padding: 1%;
    box-shadow: 0px -5px 20px;
    background-color:white;
}
.banner-title
{
    font-size:18pt;
}
.banner-logo{
    display:inline-block;
}
.banner-profil{
    float:right;
}