@import url('https://fonts.googleapis.com/css?family=Quicksand');
@font-face {
  font-family: "tinymce";
  src: url("../js/tinymce/skins/lightgray/fonts/tinymce.ttf");
}
.row{
	margin:0 !important;
}
* {
    font-family: 'Quicksand', sans-serif;
}
body{
    margin:0;
    padding:0;
}
div.wrapper{
	padding:0 !important;
	z-index: 1;
}
.align-right{
    text-align:right;
}
.align-center{
    text-align:center;
}
.hidden{
    display:none;
}
label{
    font-family: 'Quicksand', sans-serif ;
}
input[type="text"],input[type="password"]{
    padding: 0.5em;
    border: 1px solid #dcdcde;
    border-radius: 3px;
}
input[type="submit"]
{
    padding: 3%;
    background-color: #bed7e2;
}
input[type="submit"]:hover{
	background-color: #a3bac3;
}
input{
    margin-bottom:1em  !important;
}
.glyphicon{
    font-family: 'Glyphicons Halflings' !important;
}