.image-banner{
    background-image:url('../img/fond.jpg');
    height:35%;
}
.image-banner h1{
    margin:0;
    color:rgb(212, 192, 192);
    padding:2em;
}
.index-title{
    margin-top: -2em;
    background-color: white;
    border-bottom: 1px solid #d6d6d6;
}
.index-title img{
    width: 5%;
}
.index-form{
    width: 50%;
    margin: auto;
    padding:5%;
}
.index-form-submit{
    padding: 3%;
}
.index-wrapper-connexion{
    width: 90%;
    margin-left: 5%;
    background-color: white;
    box-shadow: 3px 3px 11px grey;
}
.index-wrapper-info{
    color: white;
    background-color: #393536;
}
.index-wrapper-inscription{
    width: 90%;
    margin: auto;
    background-color: white;
    box-shadow: 3px 3px 11px grey;
}
.index-info-img{
    width: 5%;
}
.index-info-text{
}
.index-info-text h1, .index-info-text h2{
    font-size: 17pt;
    margin:0;
}
/*LIST USERS*/
div.users-list{
	padding:2%;
}
div.users-list li i{
	display:block;
	font-size:36pt;
}
div.users-list li{
	font-size:13pt !important;
    padding: 1%;
    width: 14%;
    list-style: none;
}
div.users-list li a{
	color:white !important;
	text-decoration:none;
}
div.users-list li:nth-child(2n)
{
	background-color:blue;
}
div.users-list li:nth-child(2n+1)
{
	background-color:#ff8000;
}



/*plugin list js*/
input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}