.list-blog-wrap{
	margin:2em;
}
.list-blog-title{
    margin: auto;
    border-bottom: 2px solid #cacaca;
    padding: 1%;
}
.list-ajouter-blog
{
	margin-top:3%;
}
.wrapper-list-blog{
	padding:6%;
}
.wrapper-list-blog a{
	color:white;
}
.wrapper-list-blog a:hover{
	color:white;
	text-decoration:none;
}
.wrapper-list-blog:nth-child(2n+1)
{
	background-color: #432f58;
    border-right: 3px solid #252020;
    border-bottom: 3px solid #252020;
}
.wrapper-list-blog:nth-child(2n)
{
	background-color: #432f58;
    border-bottom: 3px solid #252020;
}
.list-blog-content{
	margin-top:2%;
}
.list-blog-content ul{
	padding:0;
}
.list-blog-content li{
	list-style: none;
    padding: 2%;
    text-align: center;
    width: 80%;
}
.list-blog-content li:nth-child(odd) {
background-color: whitesmoke;
}
.list-blog-content a{
	display:block;
}