.post-blog-wrapper .align-right{
	border-bottom: 2px solid #efebeb;
}
.post-blog-content{
	padding: 3%;
}
.post-blog-date{
	color:grey;
}
.post-blog-wrapper a i.fa{
	color:blue;	
}
.list-post-title
{
	border-bottom-color:#00a8ec !important;
}
.post-container{
	max-height: 700px;
    overflow: hidden;
    margin:auto;
}
.list-post-wrap{
	padding-left: 3%;
}