.nav{
    background-color: #bf4545;
    color:white;
    min-height:100%;
    padding:0 !important;
    position:fixed;
    z-index:9;
    box-shadow: 1px 0px 2px grey;
}
.nav ul {
    list-style: none;
    padding:0;
}
.nav ul li {
	font-weight:bold;
    display: block;
    padding: 2%;
    background-color: #bf4545 ;
    border-bottom: 5px solid #bf4545;
}
.nav ul li:hover
{
	background-color: #e05555 ;
}
.nav ul li a{
	color:white;
}
.nav span{
    font-size: 25pt;
    padding: 8%;
}
.nav-logo{
	width: 31%;
    display: block;
    margin: auto;
}