@CHARSET "ISO-8859-1";
.topbar{
	padding: 1%;
    background-color: white;
    font-size: 12pt;
    box-shadow: 0px -16px 32px;
    text-align: right;
}
.topbar i.fa{
	display: block !important;
	font-size: 20;
    margin-right: 1em;
}